## Utile ##

alias	cp="cp -v"
alias	home-size="cd ; du -hd1"
alias	irssi="cd ~/.irssi/log ; irssi ; cd ~"

alias pbcopy="xclip -selection clipboardr"
alias pbpaste="xclip -selection clipboard -o"

### Dev ###

alias	vi="vim"
alias	gcc="gcc -Wall -Wextra -Werror"
