######################################
### File for export all var of env ###
###                                ###
### syn : export	var="valu"     ###
######################################

export RC_PATH=$RC_PATH
export MAIL="tifuzeau@student.42.fr"
export EDITOR="vim"
